@font-face {
  font-family: "ModernTetris";
  src: url("./assets/fonts/modern-tetris.ttf");
}

body {
  margin: 0;
  font-family: "ModernTetris";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
